@model QL_TrungTamAnhNgu.Models.TaiLieu
@using QL_TrungTamAnhNgu.Models
@{
    ViewBag.Title = "ChiTietTaiLieu";
    Layout = "~/Views/Shared/_LayoutQuanTriVien.cshtml";
}

<div>
    <header style="position: sticky; left:0 ; top: 0; background-color: #fff; display: flex; align-items: center; justify-content: space-between; padding: 0px 16px; border-bottom: 1px solid #edede9; height: 80px;">
        <div style="display: flex; align-items: center; column-gap: 8px;">
            <i class="fa-solid fa-bars" style="color: black; font-size: 20px;"></i>
            <h2 style="font-size: 18px; color: #000; font-weight: 500;">Quản lý Trung tâm Anh ngữ Yola</h2>
        </div>
        <div style="position: relative">
            <button onclick="handleClickUser(event)" style="display: flex; align-items: center; column-gap: 4px; color: #000">
                <span style="font-size: 16px; font-weight: 500; color: #000">
                    Xin chào,
                    @if (Session["user"] != null)
                    {
                        NguoiDung user = Session["user"] as NguoiDung;
                        <span>@user.TenTaiKhoan</span>
                    }
                </span>
                <img src="~/Content/HinhAnh/GiaoDien/avatar.jpg" alt="Alternate Text" style="width: 30px; height: 30px; border-radius: 999px;" />
            </button>
            <div style="position: absolute; right: 0; top: 25px;" class="user">
                <div class="d-flex flex-column mt-3 user__body">
                    <a class="user__btn" style="padding: 8px 8px; border: 1px solid #f2f2f2; display: block; text-align: center; font-size: 15px;">Thông tin tài khoản</a>
                    <a href="/QuanTriVien/DangXuat" class="user__btn" style="padding: 8px 8px; border: 1px solid #f2f2f2; border-top: 0px; display: block; text-align: center; font-size: 15px;">Đăng xuất</a>
                </div>
            </div>
        </div>
    </header>

    <div style="padding:8px 20px;">
        <div class="d-flex gap-2 mt-2">
            <i style="color: #343a40" class="fa-solid fa-house"></i>
            <i class="fa-solid fa-angle-right"></i>
            <span style="color: #343a40">Danh sách tài liệu khóa học</span>
            <i class="fa-solid fa-angle-right"></i>
            <span style="color: #000; ">Chi tiết</span>
        </div>
        <div class="d-flex justify-content-between">
            <h1 style="font-size: 22px; font-weight: 600; color: #000; margin-top: 20px; display: block">Thông tin tài liệu khóa học</h1>
            @if (TempData["ErrorMessageTaiLieu"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessageTaiLieu"]
                </div>
            }
            <div>
                <a href="/QuanTriVien/DanhSachTaiLieuThuocKhoaHoc?maTL=@Model.MaTaiLieu" class="btn btn-primary">Xem danh sách khóa học sử dụng</a>
                <a href="/QuanTriVien/XoaTaiLieu?maTL=@Model.MaTaiLieu" class="btn btn-danger" id="btnXoaKhoaHoc" data-makh="@Model.MaTaiLieu">
                    Xóa tài liệu
                </a>
            </div>
        </div>
        <div style="background-color: #fff; border-radius: 5px; width: 100%; margin-top: 10px; padding: 16px; border: 1px solid #dadada; width: 100%;">
            <form class="myForm" action="/QuanTriVien/ChiTietTaiLieu" method="post">
                <div style="width: 100%;">
                    <div class="d-flex justify-content-between gap-4">
                        <div style="width: 100%">
                            <label style="font-size: 15px; color: #374151; font-weight: 500;" for="MaKhoaHoc">Mã Tài liệu: </label>
                            @Html.TextBoxFor(model => model.MaTaiLieu, new { @readonly = "readonly", @id = "MaKhoaHoc", @class = "form-control mt-2", placeholder = "Nhập mã tài liệu" })
                        </div>
                        <div style="width: 100%">
                            <label style="font-size: 15px; color: #374151; font-weight: 500;" for="TenKhoaHoc">Tên tài liệu: </label>
                            @Html.TextBoxFor(model => model.TenTaiLieu, new { @readonly = "readonly", @id = "TenKhoaHoc", @class = "form-control mt-2", placeholder = "Nhập tên loại" })  
                        </div>
                    </div>
                    <div style="margin-top: 15px; width: 100%">
                        <label style="font-size: 15px; color: #374151; font-weight: 500;" for="MoTa">Mô tả: </label>
                        @Html.TextBoxFor(model => model.MoTa, new { @readonly = "readonly", @id = "MoTa", @class = "form-control mt-2", placeholder = "Nhập mô tả" })
                    </div>
                    <div style="margin-top: 15px;" class="d-flex justify-content-between gap-4">
                        <div style="width: 100%">
                            <label style="font-size: 15px; color: #374151; font-weight: 500;" for="NgayTao">Ngày tạo: </label>
                            @Html.TextBoxFor(model => model.NgayTao, new
                              {
                                  @readonly = "readonly",
                                  @type = "date",
                                  @id = "NgayTao",
                                  @class = "form-control mt-2",
                                  Value = Model.NgayTao.HasValue ? Model.NgayTao.Value.ToString("yyyy-MM-dd") : null
                              })
                        </div>
                    </div>
                    <div style="margin-top: 15px; width: 100%">
                        <label style="font-size: 15px; color: #374151; font-weight: 500;" for="TrangThai">Trạng thái:</label>
                        <select disabled id="TrangThai" name="TrangThai" class="form-control mt-2">
                            <option value="Đang hoạt động" @(Model.TrangThai == "Đang hoạt động" ? "selected" : "")>Đang hoạt động</option>
                            <option value="Không sử dụng" @(Model.TrangThai == "Không sử dụng" ? "selected" : "")>Không sử dụng</option>
                        </select>
                    </div>
                    <div style="margin-top: 15px; width: 100%">
                        @Html.TextBoxFor(model => model.FileUpload, new { @style = "display: none;", @value = @Model.FileUpload, @id = "Avatar", @type = "file", @class = "form-control my-2" })
                        @if (!string.IsNullOrEmpty(Model.FileUpload))
                        {
                            <iframe id="avatarPreview" src="@Url.Content("~/Content/HinhAnh/TaiLieu/" + Model.FileUpload)"  width="100%" height="600px" style="border: 1px solid #ddd;"></iframe>
                        }
                        else
                        {
                            <p class="text-muted">Không có tệp bài tập nào được tải lên.</p>
                        }
                        <label for="Avatar" id="label" class="custom-file-upload mt-2" style="pointer-events: none;cursor: not-allowed; width: 150px; text-align: center; padding: 10px 12px; background-color: #0077b6; color: white; border-radius: 5px;">
                            Chọn tập tin
                        </label>
                    </div>   
                </div>
                <div style="margin-top: 10px; width: 100%" class="d-flex justify-content-end gap-2">
                    <button id="btnSua" type="button" class="btn btn-primary">Sửa</button>
                    <button id="btnLuu" type="submit" disabled class="btn btn-success">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>