@model QL_TrungTamAnhNgu.Models.BaiTapPagedList
@using QL_TrungTamAnhNgu.Models;
@{
    ViewBag.Title = "DanhSachBaiTap";
    Layout = "~/Views/Shared/_LayoutQuanTriVien.cshtml";
}


<div>
    <header style="background-color: #fff; display: flex; align-items: center; justify-content: space-between; padding: 0px 16px; border-bottom: 1px solid #edede9; height: 80px;">
        <div style="display: flex; align-items: center; column-gap: 8px;">
            <i class="fa-solid fa-bars" style="color: black; font-size: 20px;"></i>
            <h2 style="font-size: 18px; color: #000; font-weight: 500;">Quản lý Trung tâm Anh ngữ Yola</h2>
        </div>
        <div style="position: relative">
            <button onclick="handleClickUser(event)" style="display: flex; align-items: center; column-gap: 4px; color: #000">
                <span style="font-size: 16px; font-weight: 500; color: #000">
                    Xin chào,
                    @if (Session["user"] != null)
                    {
                        NguoiDung user = Session["user"] as NguoiDung;
                        <span>@user.TenTaiKhoan</span>
                    }
                </span>
                <img src="~/Content/HinhAnh/GiaoDien/avatar.jpg" alt="Alternate Text" style="width: 30px; height: 30px; border-radius: 999px;" />
            </button>
            <div style="position: absolute; right: 0; top: 25px;" class="user">
                <div class="d-flex flex-column mt-3 user__body">
                    <a class="user__btn" style="padding: 8px 8px; border: 1px solid #f2f2f2; display: block; text-align: center; font-size: 15px;">Thông tin tài khoản</a>
                    <a href="/QuanTriVien/DangXuat" class="user__btn" style="padding: 8px 8px; border: 1px solid #f2f2f2; border-top: 0px; display: block; text-align: center; font-size: 15px;">Đăng xuất</a>
                </div>
            </div>
        </div>
    </header>

    <div style="padding:8px 20px;">
        <div class="d-flex gap-2 mt-2">
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-angle-right"></i>
            <span>Danh sách bài tập khóa học</span>
        </div>
        <h1 style="font-size: 22px; font-weight: 600; color: #000; margin-top: 20px;">Danh sách bài tập khóa học</h1>
        <form method="get" action="/QuanTriVien/TimKiemBaiTap" class="mt-2 input-group" style="width: 75%; position: relative;">
            <input type="search" name="search" style="outline: none; width: 80%; padding: 8px; padding-left: 12px; border: 2px solid #0d6efd; border-top-left-radius: 5px; border-bottom-left-radius: 5px" placeholder="Tìm kiếm theo tên tài liệu...">
            <button type="submit" class="btn btn-outline-secondary" style="padding: 8px 12px; background-color: #0d6efd; border-radius: 5px; border: 2px solid #0d6efd; border-top-left-radius: 0px; border-bottom-left-radius: 0px;" type="button">
                <i style="color: white;" class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <div style="background-color: #fff; border-radius: 5px; width: 100%; margin-top: 20px; padding: 16px; border: 1px solid #dadada; border-radius: 5px;">
            <div style="display:flex; border-bottom: 1px solid #dadada">
                <span style="flex: 1; text-align: center; padding: 10px 8px; color: #7f7f7f; font-weight: 500; ">Mã tài liệu</span>
                <span style="flex: 1; text-align: center; padding: 10px 8px; color: #7f7f7f; font-weight: 500; ">Tên tài liệu</span>
                <span style="flex: 1; text-align: center; padding: 10px 8px; color: #7f7f7f; font-weight: 500; ">File upload</span>
                <span style="flex: 1; text-align: center; padding: 10px 8px; color: #7f7f7f; font-weight: 500; ">Trạng thái</span>
                <span style="flex: 1; text-align: center; padding: 10px 8px; color: #7f7f7f; font-weight: 500; ">Thao tác</span>
            </div>
            <div style="display: flex; flex-wrap: wrap; align-items: center;">
                @foreach (var user in Model.baiTapList)
                {
                    <div style="display: flex; width: 100%">
                        <span style="flex: 1" class="item">@user.MaBaiTap</span>
                        <span style="flex: 1" class="item">@user.TenBaiTap</span>
                        <span style="flex: 1" class="item">@user.FileUpload</span>
                        <span style="flex: 1" class="item">
                            @if (user.TrangThai == "Đang hoạt động")
                            {
                                <span class="iconActive"
                                      style="padding: 8px 16px 8px 24px; color: #fff; font-weight: 400; border-radius: 99px; background-color: #248823;">
                                    @user.TrangThai
                                </span>
                            }
                            else
                            {
                                <span class="iconActive"
                                      style="padding: 8px 16px 8px 24px; color: #fff; font-weight: 400; border-radius: 99px; background-color: #ff0000;">
                                    @user.TrangThai
                                </span>
                            }
                        </span>
                        <span style="flex: 1" class="item">
                            <a href="/QuanTriVien/ChiTietBaiTap?maBT=@user.MaBaiTap" style="width: 30px; height: 30px; background-color: #00bbf9; border-radius: 5px; display: flex; justify-content: center; align-items: center; ">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" style="height: 20px; width: 20px;">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                                </svg>
                            </a>
                        </span>
                    </div>
                }
            </div>
            <div class="mt-4 d-flex justify-content-center align-items-center gap-2">
                <a href="@Url.Action("DanhSachBaiTap", new { page = Model.CurrentPage - 1 })"
                   class="btnNextPage @(Model.CurrentPage == 1 ? "disabled" : "")"
                   @(Model.CurrentPage == 1 ? "aria-disabled=\"true\"" : "")>
                    Trước
                </a>
                <div>
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        if (i == Model.CurrentPage)
                        {
                            <span class="btnPageItem Active">@i</span> <!-- Trang hiện tại -->
                        }
                        else
                        {
                            <a class="btnPageItem" href="@Url.Action("DanhSachBaiTap", new { page = i })">@i</a>
                        }
                    }
                </div>
                <a href="@Url.Action("DanhSachBaiTap", new { page = Model.CurrentPage + 1 })"
                   class="btnNextPage @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")"
                   @(Model.CurrentPage == Model.TotalPages ? "aria-disabled=\"true\"" : "")>
                    Sau
                </a>
            </div>
        </div>
    </div>
</div>