@model QL_TrungTamAnhNgu.Models.PhongHoc
@using QL_TrungTamAnhNgu.Models
@{
    ViewBag.Title = "ThemPhongHoc";
    Layout = "~/Views/Shared/_LayoutQuanTriVien.cshtml";
}


<div>
    <header style="position: sticky; left:0 ; top: 0; background-color: #fff; display: flex; align-items: center; justify-content: space-between; padding: 0px 16px; border-bottom: 1px solid #edede9; height: 80px;">
        <div style="display: flex; align-items: center; column-gap: 8px;">
            <i class="fa-solid fa-bars" style="color: black; font-size: 20px;"></i>
            <h2 style="font-size: 18px; color: #000; font-weight: 500;">Quản lý Trung tâm Anh ngữ Yola</h2>
        </div>
        <div style="position: relative">
            <button onclick="handleClickUser(event)" style="display: flex; align-items: center; column-gap: 4px; color: #000">
                <span style="font-size: 16px; font-weight: 500; color: #000">
                    Xin chào,
                    @if (Session["user"] != null)
                    {
                        NguoiDung user = Session["user"] as NguoiDung;
                        <span>@user.TenTaiKhoan</span>
                    }
                </span>
                <img src="~/Content/HinhAnh/GiaoDien/avatar.jpg" alt="Alternate Text" style="width: 30px; height: 30px; border-radius: 999px;" />
            </button>
            <div style="position: absolute; right: 0; top: 25px;" class="user">
                <div class="d-flex flex-column mt-3 user__body">
                    <a class="user__btn" style="padding: 8px 8px; border: 1px solid #f2f2f2; display: block; text-align: center; font-size: 15px;">Thông tin tài khoản</a>
                    <a href="/QuanTriVien/DangXuat" class="user__btn" style="padding: 8px 8px; border: 1px solid #f2f2f2; border-top: 0px; display: block; text-align: center; font-size: 15px;">Đăng xuất</a>
                </div>
            </div>
        </div>
    </header>

    <div style="padding:8px 20px;">
        <div class="d-flex gap-2 mt-2">
            <i style="color: #343a40" class="fa-solid fa-house"></i>
            <i class="fa-solid fa-angle-right"></i>
            <span style="color: #343a40">Danh sách phòng học</span>
            <i class="fa-solid fa-angle-right"></i>
            <span style="color: #000; ">Thêm phòng học</span>
        </div>
        <div class="d-flex justify-content-between">
            <h1 style="font-size: 22px; font-weight: 600; color: #000; margin-top: 20px; display: block">Thêm phòng học</h1>
        </div>
        <div style="background-color: #fff; border-radius: 5px; width: 100%; margin-top: 10px; padding: 16px; border: 1px solid #dadada; width: 100%;">
            <form class="myForm" action="/QuanTriVien/ThemPhongHoc" method="post">
                <div style="width: 100%;" class="d-flex">
                    <div style="width: 60%;">
                        <div class="d-flex justify-content-between gap-4">
                            <div style="width: 100%">
                                <label style="font-size: 15px; color: #374151; font-weight: 500;" for="TaiKhoan">Tên phòng: </label>
                                @Html.TextBoxFor(model => model.TenPhong, new { @id = "TaiKhoan", @class = "form-control mt-2", placeholder = "Nhập tên phòng" })
                                <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errMoTa"></span>
                            </div>
                            <div style="width: 100%">
                                <label style="font-size: 15px; color: #374151; font-weight: 500;" for="MatKhau">Sức chứa: </label>
                                <div style="position: relative">
                                    @Html.TextBoxFor(model => model.SucChua, new { @id = "SucChua", @class = "form-control mt-2", placeholder = "Nhập sức chứa" })
                                    <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errMatKhau"></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between gap-4">
                            <div style="width: 100%">
                                <label style="font-size: 15px; color: #374151; font-weight: 500;" for="ViTri">Vị trí: </label>
                                @Html.TextBoxFor(model => model.ViTri, new { @id = "ViTri", @class = "form-control mt-2", placeholder = "Nhập vị trí" })
                                <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errTenLoai"></span>
                            </div>
                            <div style="width: 100%">
                                <label style="font-size: 15px; color: #374151; font-weight: 500;" for="ThietBi">Thiết bị: </label>
                                @Html.TextBoxFor(model => model.ThietBi, new { @id = "ThietBi", @class = "form-control mt-2", placeholder = "Nhập thiết bị" })
                                <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errTenLoai"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                </div>
                <div style="margin-top: 10px; width: 100%" class="d-flex justify-content-end gap-2">
                    <button id="btnLuu" type="submit" class="btn btn-success">Tạo</button>
                </div>
            </form>
        </div>
    </div>
</div>
