<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý Trung tâm Anh ngữ Yola</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3115b3f4f1.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap-5.0.2-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/HinhAnh/GiaoDien/QuanTriVienStyle.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/QuanTriVien/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/QuanTriVien/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/QuanTriVien/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/QuanTriVien/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/QuanTriVien/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/QuanTriVien/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/QuanTriVien/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/QuanTriVien/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/QuanTriVien/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/QuanTriVien/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/QuanTriVien/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/QuanTriVien/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/QuanTriVien/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <section style="height: 100vh; width: 100vw;">
        <div class="h-custom shadow" style="max-width: 900px; border: 1px solid #dadada; width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) ;background-color: #f2f2f2">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-xl-6">
                    <img src="~/Content/HinhAnh/GiaoDien/yola-english-high-resolution-logo.png"
                         class="img-fluid" alt="Sample image" style="object-fit: cover; height: 400px;">
                </div>
                <div class="col-xl-6">
                    <div class="d-flex align-items-center justify-content-center flex-column" style="height: 100% ;padding: 0 32px;">
                        <h1 style="text-align: center; font-size: 28px; padding: 30px 0 30px; font-weight: 500;">Đăng nhập Hệ thống</h1>
                        <form style="width: 100%;" method="post" action="/QuanTriVien/DangNhap">
                            <!-- Email input -->
                            <div data-mdb-input-init class="form-outline mb-3">
                                <label class="form-label" for="inputTenDN">Tên đăng nhập</label>
                                <input type="text" id="inputTenDN" name="inputTenTK" class="form-control form-control-lg" style="font-size: 16px;"
                                       placeholder="Nhập tên đăng nhập" value="@ViewBag.tk" />
                            </div>
                            <!-- Password input -->
                            <div data-mdb-input-init class="form-outline mb-1">
                                <label class="form-label" for="inputMatKhau">Mật khẩu</label>
                                <div style="position: relative">
                                    <input type="password" id="inputMatKhau" name="inputMatKhau" class="form-control form-control-lg" style="font-size: 16px;"
                                           placeholder="Nhập mật khẩu" value="@ViewBag.mk" />
                                    <button type="button" style="position: absolute; right: 8px; top: 14px;" onclick="handleClickChangeEye('inputMatKhau')">
                                        <i class="iconEye fa-solid fa-eye-slash"></i>
                                    </button>
                                </div>
                            </div>
                            <span style="min-height: 15px; display: inline-block; color: red; font-size: 14px;">@ViewBag.text</span>
                            <div class="text-center text-lg-start mt-2">
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                                        style="padding-left: 1rem; padding-right: 1rem; font-size: 16px;">
                                    Đăng nhập
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Content/HinhAnh/GiaoDien/QuanTriVienJS.js"></script>
</body>
</html>
